<div class="intro">
    <div class="qual">
        <p class="qualp">Spend Quality <br> Holidays With Us</p><br>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel alias officiis, <br> veniam repudiandae suscipit
            at illum expedita consequatur provident architecto!</p>

        <br>
        <button routerLink="login">Login</button>
        
    </div>
    <div class="chev" style="text-align: center;">
        <a href="#whoweare" style="text-decoration: none;color: snow;"><i class="fa-solid fa-chevron-down fa-2x"></i></a>
    </div>


   
</div>
<div class="about">
    <div class="whoweare" id="whoweare">
        <h1>About Us</h1>
        <br>
        <p style="color:black">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur a quo laborum quidem molestias quae,
            temporibus inventore voluptatibus, ipsa ad, quam nam? Atque maxime dolore eveniet vitae fugit voluptatum, nemo
            eos voluptate iste voluptates deleniti ut totam? Quibusdam, quo quisquam praesentium rem repellat similique sed
            saepe iste consequuntur, debitis tempora sequi facere hic minus fuga error numquam voluptates? Excepturi dolores
            aperiam modi, fugit fuga debitis distinctio cumque, obcaecati, molestiae harum explicabo veritatis ab dolorem
            sequi illo facilis laudantium ullam nesciunt beatae aspernatur commodi iure. Sequi recusandae aliquam laudantium
            fugiat a explicabo ad, nesciunt aut itaque error ipsum doloribus exercitationem omnis. Doloribus voluptates
            cupiditate magnam officiis pariatur, magni ducimus ut fugit temporibus accusamus sequi autem laboriosam maiores
            suscipit natus iste minima! Quae enim illo voluptatem, quidem nisi consectetur distinctio unde, in aut a
            voluptate dolores maiores quos nam quo saepe mollitia natus rerum et. Cupiditate consequatur accusamus mollitia
            voluptatem, quod voluptates veniam? Repudiandae quos harum ipsam magni perspiciatis, corporis quia earum sit
            neque sed officia, nesciunt facilis et repellendus architecto sequi cupiditate, minus nostrum ea error molestias
            culpa quidem? Ea ab unde assumenda voluptate dolorem pariatur, aperiam doloremque rem, alias voluptatibus ipsa
            reiciendis deleniti perferendis aliquam veritatis odio impedit facere modi!
        </p>
        <div class="chev2" style="text-align: center;">
            <a href="#contact" style="text-decoration: none;color: steelblue;"><i class="fa-solid fa-chevron-down fa-2x"></i></a>
        </div>
    </div>
    
    
</div>
<div class="contact container w-50 p-5 " style="text-align: center; color: snow;" id="contact" >
    <h3>Send Us Your Queries</h3>

    <form action="" style="text-align: center;">
        <input class="form-control  container mt-5  " type="email" name="" id="" placeholder="Your mail">
        <input class="form-control  container mt-5 mb-3"  type="text" style="height:150px" placeholder="Your queries">
        
    </form>
    <button class="btn btn-outline-info w-25 container">Send</button>
</div>